[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

a.btn-profile{
  margin: 0;
  padding: 15px;
}

.masonry-brick .link{
  padding: 0px 5px;
  font-size: 0.8em;
}

.btn-profile:hover{
  text-decoration: none;
  background-color: #dddddd;
}

.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey;
  
}

.comments{
  max-height: 300px;
  overflow-y: auto;
  margin: 10px 0px;
}

.comments .imgProfile, .comments .content{
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.comment{
  border-bottom: 1px solid #e4e4e4;
  margin-top: 5px;
}

.response {
  padding-top: 30px;
}

.response>ul {
  list-style-type: decimal;
}

.response li {
  color: blue;
  font-size: smaller;
  padding-bottom: 5px; 
}

.progress {
  display: inline-block;
  width: 100px; 
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.picture{
  float: left;
  margin: 10px;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 40%;
  height: 65px; 
  text-align: center;
  padding-top: 12px;
  margin: 5px;
  margin-top: 10px; 
  float: left;
}


.btn-select-files{
  margin-left: 30px;
}

.uploadphoto{
  opacity: 0
}
.drop-box.dragover {
  border: 5px dashed blue;
}

/* for IE*/
.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle; 
}

button {
  padding: 1px 5px;
  font-size: smaller;
  margin: 0; 
}


h3{

   /*font-weight: bold;
  color: #9b9c9c;*/
  text-shadow: 1px 1px 0 #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  vertical-align: baseline;
}

.dropuser {
  padding-top: 10px;
  padding-bottom: 10px;
}
.divider-vertical {
  float: left;
  display: inline-block;
  width: 1px;
  height: 38px;
  margin: 5px 10px;
  background-color: #948B8B;
  border-right: 1px solid rgba(255, 255, 255, 0.82);
}



body {
   /* font-size: 1em;*/
   background-color: #e5e5e5;
    padding-top: 65px;
    line-height: 1.4;
}

#cover {
    position:absolute;
    height:100%;
    width:100%;
    background:white;
}

#userInfo {
    float:right;padding:8px;
}

.icon-twitter {
    color:#00A7E7;
}

.icon-facebook-sign {
    color:#3662A0;
}

.icon-google-plus-sign {
    color: #D74634;
}

.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}


.form-signin {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.valid{
  color: #51a351;
}

.error{
  color: #bd362f;
}

.form-register input[type="text"], .form-register input[type="password"] , .form-register input[type="email"]{
  float: left;
  width: 50%;
  margin-bottom: 0px;
  border-radius: 5px
}

.form-register i{
  float: left;
  z-index: 10000000;
  padding: 10px 0px 0px 5px;
}

.form-register i span{
  font-size: 0.6em;
  vertical-align: middle;
}

.form-register .controls{
  height: 43px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.form-register .alert{
  display: none;
}

.youtube-player{
    height: 200px;
}

@media (max-width: 768px) { 

  .profile{
    display: none;
  }

  .youtube-player{
    height: 420px;
  }

  .col-md-6{
    width: 100%;
  }

  .form-register .alert{
    display: block;
  }

  .navbar-nav {
    margin: 0px;
  }


  .form-register i span{
    display: none;
  }

  .form-register input[type="text"], .form-register input[type="password"] , .form-register input[type="email"]{

    width: 90%;
    
  }

  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }


  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }



}

@media (max-width: 337px) {
  .youtube-player{
    height: 200px;
  }
}

