.container
  div
      h1 Angular Infinite Scroll Demo
      p Scroll the div to add more elements.
      .scroll-loader(infinite-scroll='addItems()', can-load='canLoad', threshold='100', after = 'after')
        ul
          li(ng-repeat='item in items') {{item.username}}
      p
        | Maximum {{maxItems}} items
        small ({{items.length}} added)
        button.btn(ng-click='items=[];canLoad=true;addItems();') Reset
      p
        | It is up to you to add server requests and loading indicators.

h1 Admin
p This view is visible to users with the administrator role.

table.table.table-striped(data-ng-hide="loading")
    thead
        tr
            th #
            th Username
            th Role
    tbody
        tr(data-ng-repeat="user in users")
            td {{ user.id }}
            td
               i.fa.fa-twitter(data-ng-show="user.provider == 'twitter'")
               i.fa.fa-facebook-square(data-ng-show="user.provider == 'facebook'")
               i.icon-google-plus-sign(data-ng-show="user.provider == 'google'")
               i.icon-linkedin(data-ng-show="user.provider == 'linkedin'")
               |  {{ user.username }}
            td
                span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}
            td
                a.btn.btn-primary(href='/edit/{{user.username}}')
                  i.fa.fa-edit

