.container(infinite-scroll='addItems()' infinite-scroll-disabled='busy' infinite-scroll-distance='0')
  div
      h1 Angular Infinite Scroll Demo
      p Scroll the div to add more elements.
      div.row
        div.col-sm-6.col-md-4(ng-repeat='item in items') 
          a.thumbnail(href='#')
            img(src='http://placehold.it/390x200')
            div.caption 
              h3 {{item.username}}
      i.fa.fa-spinner.fa-spin(ng-show='busy')
      p
        | Maximum {{maxItems}} items
        small ({{items.length}} added)
        button.btn(ng-click='items=[];canLoad=true;addItems();') Reset
      p
        | It is up to you to add server requests and loading indicators.



