.container
    form.form-signin(name="editForm")
        h2.form-signin-heading Register
        input.form-control(type="text", data-ng-model="user.username", placeholder="Username", name="username", required, data-ng-minlength="1", data-ng-maxlength="20", autofocus)
        input.form-control(type="password", data-ng-model="user.password", placeholder="Password", name="password", required, data-ng-minlength="5", data-ng-maxlength="60")
        input.form-control(ng-model='password_verify', type='password', name='confirm_password', placeholder='confirm password', required, data-ng-minlength="5", data-ng-maxlength="60", data-password-verify='password')
        .control-group
            label.radio.inline
                input(type="radio", name="role", data-ng-model="role", id="adminRole", data-ng-value="userRoles.admin")
                | Administrator
            label.radio.inline
                input(type="radio", name="role", data-ng-model="role", id="adminRole", data-ng-value="userRoles.user")
                | Normal user
        button.btn.btn-lg.btn-primary.btn-block(type="submit", data-ng-disabled="editForm.$invalid") Submit
        button.btn.btn-danger(ng-click="destroy()", ng-show="user.$id") Delete
        hr
        .alert.alert-danger(ng-show="editForm.$invalid && editForm.$dirty")
            strong Please correct the following errors:
            ul
                li(ng-show="editForm.username.$error.required") Username is required
                li(ng-show="editForm.username.$error.minlength") Username has to be at least 1 character long
                li(ng-show="editForm.username.$error.maxlength") Username has to be at most 20 character long
                li(ng-show="editForm.password.$error.required") Password is required
                li(ng-show="editForm.confirm_password.$error.passwordVerify") Password not is equal
                li(ng-show="editForm.password.$error.minlength") Password must be at least 5 characters long
                li(ng-show="editForm.password.$error.maxlength") Password must be at most 60 characters long