h1 Hello
p This view is visible to logged in users.
span(am-time-ago="{{message.time}}")
	{{message.time | amCalendar}}

img.thumbnail(ng-src="{{jsondata.pictureUrl}}")

a.btn.btn-primary(href="{{jsondata.publicProfileUrl}}") {{jsondata.firstName}} {{jsondata.lastName}}

a.btn.btn-danger(ng-click="logoutLinkedIn()", ng-hide="jsondata == null") Logout

script(type="in/Login")