.keeper
	.cover(style="background-image: url(img/zbz-bg-lights.jpg);")
	.tint-curtain
	section
		.zbz-slide-inner(style="display: table;height: 100%;width: 100%; padding-top:10%")
			.zbz-slide-content.zbz-on-top(style="display: table-cell;  vertical-align: middle;")
				.container
					.row.skrollable.skrollable-between
						.col-sm-8.col-lg-6
							.zbz-feature-side.zbz-xs-3x.zbz-sm-4x
								img.fa(src="img/zbz-logo-200_2x.png", alt="Zbz!")
								.zbz-description
									h1	
										|	Conéctate durante y después de la Vida Universitaria!
									p
										|	Mantente en contacto con tus compañeros de estudio, docentes y aún con los egresados y comparte experiencias, proyectos y metas en común. Haz una comunidad, organiza eventos y grupos de estudio; haz de tu vida universitaria un compartir en la que se genere conocimientos en conjunto.
									.zbz-spacer-40
									p
										a.btn.btn-ghost.btn-default.btn-lg(href="#")
											i.fa.fa-apple 
											|	App Store	
										|	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										a.btn.btn-ghost.btn-default.btn-lg(href="#")
											i.fa.fa-android 
											|	Google Play
		img.hidden-xs.zbz-left-side-img(src="img/iphone-in-hand.png" alt="")
