.col-xs-3(style="margin-top:20px")
  form.form-horizontal(ng-submit="register()", name="registerForm")
    .form-group
        label.col-sm-10.control-label Nombre de Usuario
        .col-sm-10
          input.form-control(type="text", name="name", ng-model="name")
    .form-group
        .col-sm-10
          button.btn.btn-default(type="button", ng-click="conectar()")  
            | Conectar
  div(id="local-media")
  div(id="remote-media")
  button.btn.btn-default(type="button", ng-click="preview()")   Vista Previa

  hr

  .form-group
        label.col-sm-10.control-label Invitado
        .col-sm-10
          input.form-control(type="text", name="invitado", ng-model="invitado")
    .form-group
        .col-sm-10
          button.btn.btn-default(type="button", ng-click="invitar()")  
            | Invitar