h1
  |  MEJORANDO.LA - LIVE CURSOS
.stream(style="max-width: 100%;height: auto;")
   .video(style="height: 0;overflow: hidden;padding-bottom: 56.25%;position: relative;text-align: center;")
        iframe(style="height: 100%;left: 0;position: absolute;top: 0;width: 100%;", src="//mdstrm.com/live-stream/54134e5aa53d041318534191?player=mdstrm", width="840", height="560", frameborder="0", allowfullscreen="true")