h1
  |  CURSO DE ANGULAR JS. - MEJORANDO.LA
.stream(style="max-width: 100%;height: auto;")
   .video(style="height: 0;overflow: hidden;padding-bottom: 56.25%;position: relative;text-align: center;")
        iframe(style="height: 100%;left: 0;position: absolute;top: 0;width: 100%;", src="//mdstrm.com/live-stream/54185d0700d68d4c52512e88?player=mdstrm", width="840", height="560", frameborder="0", allowfullscreen="true")