md-content.contentMessages(flex, layout-padding, style="height:70vh")
	.loading(style='display:none',layout="row", layout-sm="column", layout-align="space-around")
		//i.fa.fa-spinner.fa-spin
		md-progress-circular(md-mode="indeterminate")
	.message.clearfix.comment(ng-repeat="message in messages2", style="border:0")
		.imgProfile(ng-show="message.from.username != username")
			a(href="./{{message.from.username}}", data-toggle="tooltip",  data-placement="right", title="{{message.from.username}}") 
				img(src="{{message.from.picture}}", align='left', valign='middle', style='margin:5px', width="35")
		.content(ng-class="{me:message.from.username == username, you:message.from.username != username}")
			p {{message.content}}
			h6
				span(style="float: right;", am-time-ago="message.datetime", title="{{message.datetime | amCalendar}}")
	.message.clearfix.comment(ng-repeat="message in messages", style="border:0")
		.imgProfile(ng-show="message.from != username")
			a(href="./{{message.from}}", data-toggle="tooltip",  data-placement="right", title="{{message.from}}") 
				img(src="{{message.picture}}", align='left', valign='middle', style='margin:5px', width="35")
		.content(ng-class="{me:message.from == username, you:message.from != username}")
			p {{message.content}}
			h6
				span(style="float: right;", am-time-ago="message.datetime", title="{{message.datetime | amCalendar}}")
	.write(ng-repeat="write in writes", style="height: 20px;line-height: 20px;color: #999")
		span(ng-show="write.valor == 'true' && write.from !== username") Escribiendo ...
section(layout="row",layout-sm="column", flex, layout-align="center center", style="background:rgb(244, 244, 244); padding:0px; width:90% position:absolute; bottom:0")
	md-button.md-icon-button(aria-label="Settings", ng-click="toggleLeft()")
		md-icon.md-primary.md-hue-3(md-svg-icon="file:attachment")
	span(flex)
		form(ng-show="!isSeach", ng-submit="", name="commentForm")
			.loading2(style='display:none;')
				i.fa.fa-spinner.fa-spin
			textarea.form-control(id="messageChat", ng-enter="addMessage(comment); comment = '';"  style="display:inline-block; border:0", rows="2", placeholder="Escribir mensaje ...", data-ng-model="comment", ng-change="writeMessage(comment);", ng-blur="unWriteMessage();", required)
		//button.btn.btn-info(data-ng-disabled="commentForm.$invalid", ng-click="addMessage(comment); comment = ''; viewComment=true; hideComents=true;", style="padding:0; background: none; border:0") 
			i.fa.fa-check-square(style="font-size: xx-large;color: #ccc;")