.modal.fade(id="modalRegister", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true")    &times;
                    span.sr-only    Close
                h4.modal-title(id="myModalLabel")   Regístrate
            .modal-body
                md-content(layout-padding)
                    form.form-signin.form-register(ng-submit="register()", name="registerForm")
                        md-input-container
                            label Nombre de Usuario
                            input(type="text", data-ng-model="userRegister.username", unique-username, name="username", ng-trim='false', minlength="6", md-maxlength="20", required, autofocus)
                            div(ng-messages="registerForm.username.$error")
                                div(ng-message="required") Usuario es requerido.
                                div(ng-message="minlength") Mínimo 6 caracteres.
                                div(ng-message="md-maxlength") Máximo 20 caracteres.
                                div(ng-message="uniqueUsername") Usuario existente.
                        md-input-container
                            label email@example.com
                            input(type="email", data-ng-model="userRegister.email", unique-email, name="email", required)
                            div(ng-messages="registerForm.email.$error")
                                div(ng-message="required") Email es requerido.
                                div(ng-message="email") Email es inválido.
                                div(ng-message="uniqueEmail") Email existente.
                        md-input-container
                            label Contraseña
                            input(type="password", data-ng-model="password", name="password", required, minlength="5", md-maxlength="60")
                            div(ng-messages="registerForm.password.$error")
                                div(ng-message="required") Password es requerido.
                                div(ng-message="minlength") Mínimo 5 caracteres.
                                div(ng-message="md-maxlength") Máximo 60 caracteres.
                        md-input-container
                            label Confirma tu contraseña
                            input(ng-model='password_verify', type='password', name='confirm_password', minlength="5", md-maxlength="60", data-password-verify='password')
                            div(ng-messages="registerForm.confirm_password.$error")
                                div(ng-message="passwordVerify") Contraseña no coincide.
                                div(ng-message="minlength") Mínimo 5 caracteres.
                                div(ng-message="md-maxlength") Máximo 60 caracteres.
                        md-input-container
                            label Nombre Completo
                            input(type="text", data-ng-model="userRegister.displayName", name="name", required, md-maxlength="200")
                            div(ng-messages="registerForm.name.$error")
                                div(ng-message="required") Nombre es requerido.
                                div(ng-message="md-maxlength") Máximo 200 caracteres.
                        hr
                        //.control-group
                            label.radio.inline
                                input(type="radio", name="role", data-ng-model="role", id="adminRole", data-ng-value="userRoles.admin")
                                | Administrator
                            label.radio.inline
                                input(type="radio", name="role", data-ng-model="role", id="adminRole", data-ng-value="userRoles.user")
                                | Normal user
                        md-button.md-raised.md-primary(type="submit", data-ng-disabled="registerForm.$invalid", style="width: 100%;") Registrar
                        hr
                        .error(ng-show="messageError")
                            {{ messageError }}
    