!!! 5
html(lang='en', ng-app='unsApp')
    head
        base(href="/")
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Red Social Universitaria
        
        
        link(href="/css/bootstrap.css", rel="stylesheet")
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/css/docs.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto')
        //link(href="/css/bootstrap-theme.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

        link(href='//fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,100italic,100,500,700italic,700,500italic,900,900italic', rel='stylesheet', type='text/css')

            //link(href="/css/bootstrap-responsive.css", rel="stylesheet")
        link(href="/js/vendor/liveurl.css", rel="stylesheet")
        link(href="/css/jquery.Jcrop.css", rel="stylesheet")
        link(href="/css/xeditable.css", rel="stylesheet")
        link(href="/css/bootstrap-datetimepicker.min.css", rel="stylesheet")
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
        link(rel="stylesheet", href="/js/vendor/codemirror/lib/codemirror.css")
        link(rel="stylesheet", href="/js/vendor/codemirror/theme/neo.css")
        link(rel="stylesheet", href="/js/vendor/codepad/firepad.css")
        link(rel="stylesheet", href="/js/vendor/codepad/firepad-userlist.css")
        link(rel="stylesheet", href="/js/vendor/bootstrap-notify.css")
        
        //link(href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css", rel="stylesheet")
        

    body(data-ng-cloak)
        modal-login
        modal-register
        .notifications.bottom-left(style="position:absolute; bottom:15px; z-index:100000")
        #presenceDiv
        .navbar.navbar-default.navbar-fixed-top(data-ng-controller="NavCtrl", role="navigation", style="border: 0; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);")
            .container
                .navbar-header
                    .navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .menu-hidden
                        a.navbar-brand(href="/", style="padding:5px") 
                            img.fa(src="/img/zbz-logo-200_402x.png", alt="Zbz!", width="40")
                        div.divider-vertical
                    .menu-display
                        a.navbar-brand.active(href="./", data-access-level='accessLevels.user')
                            i.fa.fa-users
                        a.navbar-brand.active(href="/messages", data-access-level='accessLevels.user')
                            i.fa.fa-envelope
                        li.dropdown(data-toggle="dropdown", style="float: left;list-style: none;")   
                            a.navbar-brand.active.dropdown(href="#", data-access-level='accessLevels.user', data-toggle="dropdown", data-ng-click="getNotifications(1)")
                                i.fa.fa-globe
                                span.badge(ng-show="count_notifications")  {{ count_notifications }}
                            ul.dropdown-menu.notifications
                                li(ng-repeat="not in notifications")
                                    a.clearfix(href="/{{not.link}}")
                                        div 
                                            img(src="{{not.from.picture}}", align='left', valign='middle', width="50")
                                            .content {{not.title}}
                                                h6
                                                    span(am-time-ago="not.datetime", title="{{not.datetime | amCalendar}}")

                    .menu-hidden
                        div.divider-vertical(data-access-level='accessLevels.user')
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    .col-sm-3(style="padding:8px",role='search', data-access-level='accessLevels.user')
                        .input-group
                            input.form-control(type='text', placeholder='Search')
                            span.input-group-btn
                                button.btn.btn-default(type='submit') 
                                    i.fa.fa-search
                    ul.nav.navbar-nav
                        li(data-access-level='accessLevels.anon', active-nav)
                            a(href="#", data-toggle="modal", data-target="#modalLogin") Iniciar Sesión
                        li(data-access-level='accessLevels.anon', active-nav)
                            a(href="#", data-toggle="modal", data-target="#modalRegister") Registrarse
                        li(data-access-level='accessLevels.user', active-nav)
                            a(href='/') Inicio
                        li(data-access-level='accessLevels.user', active-nav)
                            a(href='/firepad') Firepad
                        li(data-access-level='accessLevels.admin', active-nav)
                            a(href='/admin') Admin

                    ul.nav.navbar-nav.navbar-right(data-access-level='accessLevels.user')
                        a.btn-profile.navbar-text(style="padding: 10px 10px;",href="/{{user.username}}")
                            img(ng-src="{{imgProfile}}", height="30")
                            strong &nbsp;{{ fullname }}&nbsp;
                            //span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}
                        li.dropdown(data-toggle="dropdown")

                            a.dropdown-toggle(data-toggle="dropdown" , href="#")
                                i.fa.fa-cog
                                //b.caret
                            ul.dropdown-menu
                                li(data-access-level='accessLevels.user')
                                    a(href="/{{ user.username }}/profile")
                                        | Perfil
                                li(data-access-level='accessLevels.user')
                                    a(href="", data-ng-click="logout()")
                                        | Salir
                        


        .container
            div(data-ng-view='ng-view', id="appBody")
            hr(data-ng-show="error")
            .alert.alert-danger(data-ng-bind="error", data-ng-show="error")

        md-list(ng-controller="MessagesCtrl", role="navigation" , ng-show="user.username != ''")
            md-subheader.md-no-sticky   Lista de Usuarios
                div.col-md-2.inboxlist(data-access-level='accessLevels.user', style="padding: 0px; position:fixed; top:50px; right:0; width:305px; background:white; height:100%")
                    //input.form-control(type="text", ng-model="typeaheadValue", bs-typeahead="typeahead")
                    .input-group
                        input.form-control.search(name="search", ng-model="search", placeholder="Buscar", ng-change="searchUsers(search); isSeach= true; newMessage = true;")
                        span.input-group-btn
                            button.btn.btn-default(type='submit') 
                                i.fa.fa-search
                    .to(ng-show="newMessage")
                        .listUsers(ng-show="isSeach")
                            .s_results(ng-repeat="s_user in s_users", ng-click="selectUser(s_user.username, s_user.name);")
                                .picture
                                    img(src="{{s_user.picture}}", style='margin:5px', width="50")
                                .s_name
                                    h3 {{s_user.name}}
                    inboxes

                div.messages(data-access-level='accessLevels.user', style="position:fixed; bottom:0px; left:0; background:white; width:305px;", ng-show="viewInbox == 1")
                    .actions(style="#F3F3F3")
                        div(id="status_{{UserChatStatus}}", style="position:absolute; left: 5px; top: 10px;")
                        span(style="position:absolute; left: 5px; top: 10px;") 
                            a(href="/{{UsernameChat}}")
                                strong  {{UserChat}}
                        span(ng-click="viewInbox = 0", style="position: absolute;top: 0;right: 0;padding: 10px; cursor:pointer")
                            i.fa.fa-times
                    messages-chat

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
    script(src='//maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=es')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
        //script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')
        //script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js")
        //script(src='//rawgit.com/angular/bower-material/master/angular-material.js')
    script(src="/js/docs.js")


    script(src='//cdn.firebase.com/js/client/1.1.1/firebase.js')
    script(src='//cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js')
        //script(src='https://cdn.firebase.com/v0/firebase-simple-login.js')
    
    script(src='//code.angularjs.org/1.2.0/angular-sanitize.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-cookies.min.js')
    
    
    
    script(src='/js/vendor/bootstrap.min.js')
    script(src='/js/vendor/underscore-min.js')
    script(src='/js/vendor/angular-moment.js')
        //script(src="/js/vendor/angular-file-upload-shim.js")
    script(src="/js/vendor/angular-file-upload.js")
    script(src='/js/vendor/moment.js')
        //script(src='/js/vendor/gmaps.js')
    script(src="/js/vendor/liveurl.js")
        //script(src='js/vendor/EventEmitter.js')
    script(src="/js/vendor/masonry.js")
    script(src="/js/vendor/imagesloaded.js")
    script(src="/js/vendor/angular-masonry.js")
    script(src="/js/vendor/jquery.Jcrop.js")
    script(src="/js/vendor/typeahead.js")
    script(src="/js/vendor/angular-strap.js")
    script(src="/js/vendor/hogan.js")
    script(src="/js/vendor/xeditable.js")
    script(src="/js/vendor/date.js")
    script(src="/js/vendor/bootstrap-notify.js")

    script(src="/js/vendor/codemirror/lib/codemirror.js")
    script(src="/js/vendor/codemirror/mode/javascript/javascript.js")
    script(src="/js/vendor/codepad/firepad.js")
    script(src="/js/vendor/codepad/firepad-userlist.js")
    script(src="/js/vendor/codepad/example-helper.js")
    script(src="/js/vendor/scrolld.min.js")
    script(src="/js/vendor/ngAutocomplete.js")
    script(src="/js/vendor/idle.js")   
     


    script(src='/js/routingConfig.js')
    script(src='/js/app.js')
    script(src='/js/services.js')

    script(src="/js/controllers.js")
    script(src="/js/controllers/navbar.js")
    script(src="/js/controllers/admin.js")
    script(src="/js/controllers/post.js")
    script(src="/js/controllers/home.js")
    script(src="/js/controllers/edituser.js")
    script(src="/js/controllers/messages.js")
    script(src="/js/controllers/picture.js")
    script(src="/js/controllers/profile.js")
    script(src="/js/controllers/register.js")
    script(src="/js/controllers/user.js")
    script(src="/js/controllers/firepad.js")


    script(src='/js/filters.js')
    script(src='/js/directives.js')

    script(src='/js/linkedin.js')

    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js")
    
    

    script(type="text/javascript")
        $('ul.nav.navbar-nav li').on('click' , function(){
            if($(".navbar-toggle").is(":visible") == true && !$(this).attr('data-toggle')){
                $('.navbar-toggle').click();
            }
        });

    script(type="text/javascript")
        $('textarea').liveUrl({
          success : function(data) 
          {  
            //console.log(data);
            // this return the first found url data
          }
        });

    


    // Partial views... Load up front to make transitions smoother
    script(type="text/ng-template", id="404")
        include partials/404
    script(type="text/ng-template", id="admin")
        include partials/admin
    script(type="text/ng-template", id="home")
        include partials/home
    script(type="text/ng-template", id="login")
        include partials/login
    script(type="text/ng-template", id="private")
        include partials/private
    script(type="text/ng-template", id="register")
        include partials/register
    script(type="text/ng-template", id="post")
        include partials/post
    script(type="text/ng-template", id="edit")
        include partials/edit
    script(type="text/ng-template", id="user")
        include partials/user
    script(type="text/ng-template", id="picture")
        include partials/picture
    script(type="text/ng-template", id="profile")
        include partials/profile
    script(type="text/ng-template", id="messages")
        include partials/messages
    script(type="text/ng-template", id="listMessages")
        include partials/listMessages
    script(type="text/ng-template", id="firepad")
        include partials/firepad
    script(type="text/ng-template", id="live")
        include partials/live
    script(type="text/ng-template", id="curso")
        include partials/curso


    script(type="text/javascript", src="//platform.linkedin.com/in.js")
      //  api_key:75pza9t7zd2w4k
      //  onLoad: onLinkedInLoad
      //  authorize: true


        // This is needed because Facebook login redirects add #_=_ at the end of the URL
    script(type="text/javascript")
        if (window.location.href.indexOf('#_=_') > 0) {
            window.location = window.location.href.replace(/#.*/, '');
        }


       

            